@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    <strong>Linkedin: </strong> <a href="https://www.linkedin.com/in/jose-marcos-efigenio-b166b21a6/">José marcos</a><br />
    <strong>Github: </strong> <a href="https://github.com/SakakibaraKun/SalesWebMvc">Sales Web MVC</a><br/>
    
</address>
